.Layout {
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 10% 10% 75% 5%; /* Added a new row for the menu */
  grid-template-columns: 100%;
}

header {
  grid-column: span 2;
}

.menu {
  grid-row: 2; /* Place the menu in the second row */
  grid-column: span 2; /* Span the menu across both columns */
}

main {
  grid-row: 3; /* Place the main content in the third row */
  overflow: auto;
}

footer {
  grid-row: 4; /* Place the footer in the fourth row */
  grid-column: span 2;
}

.Layout,
.Layout > * {
  border: 1px solid;
}
